/***************************
Paleta de cores
Azul escuro             #186cfd
Azul claro              #247ffe
Cinza escuro            #202124

bordas cinza claro:     #cdcdcd
Textos cinza escuro:    #555555
Fundo claro::after      #f9f9f9

***************************/



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #555;
}

h1 {
    font-size: 32px;
    color: #186cfd;
    margin: 15px 0;
    border-bottom: 1px solid #cdcdcd;
}

h2 {
    font-size: 24px;
    color: #186cfd;
    margin: 15px 0;
    border-bottom: 1px solid #cdcdcd;
}

h3 {
    font-size: 20px;
    color: #186cfd;
    margin: 15px 0;
    border-bottom: 1px solid #cdcdcd;
}

p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

a {
    color: #247ffe;
    text-decoration: none;
}

figure {
    text-align: center;
}

ul { list-style: none; }

section {
    margin-bottom: 30px;
}

/****************************************************
                ESTILO DO TOPO
****************************************************/

header { 
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
}

header .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

header .logo img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

header .pesquisa {
    width: 60%;
    display: flex;
    justify-content: center;
}

header .pesquisa input {
    width: 40%;
    height: 35px;
    border: 1px solid #cdcdcd;
    border-radius: 5px 0 0 5px;
    padding: 5px 15px;
    color: #555;
}

header .pesquisa button {
    background-color: #247ffe;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

header .pesquisa button:hover {
    background-color: #186cfd ;
}


header .login {
    width: 20%;
    display: flex;
    justify-content: center;
}

header .login a {
    padding: 10px;
    margin-right: 5px;
}

header .login a:hover {
    text-decoration: underline;
}

/****************************************************
                ESTILO DO MENU
****************************************************/
nav {
    margin: auto;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#186cfd, #247ffe );
}

nav ul {
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-right: 2px;
    line-height: 40px;
}

nav ul li a {
    color: white;
    padding: 10px 10px;
}

nav ul li a:hover {
    color: #202124;
}


/****************************************************
                ESTILO DO MAIN + CONTANT
****************************************************/

.content {
    max-width: 1400px;
    min-height: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}

aside {
    width: 20%;
    padding: 15px;
}

aside.esquerdo {
    border-right: solid 1px #cdcdcd;
}

aside.direito {
    border-left: solid 1px #cdcdcd;
}


main {
    width: 60%;
    padding: 15px;
}

footer {
    max-width: 1400px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


